*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #051335;
  color: white;
  min-height: 100vh;
}

.main-container{
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  background-color: #1e293b;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.main-container h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 4.2rem;
  color: #38bdf8;
}

form{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 20px;
}

form label{
  font-size: 2.5rem;
  font-weight: 600;
}

form input{
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
  background-color: #334155;
  color: white;
}

form input::placeholder{
  color: #cbd5e1;
}

form button{
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #38bdf8;
  color: #0f172a;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

form button:hover{
  background-color: #06924c;
  transform: translateY(-2px);
}